SECRET_KEY=your_secret_key

DEBUG=False

# Database settings (для Docker)
DATABASE_NAME=django_rest_db
DATABASE_USER=django_user
DATABASE_PASSWORD=django_password
DATABASE_HOST=db
DATABASE_PORT=5432

PASSWORD_FOR_SUPER_USER=PASSWORD_FOR_SUPER_USER

STRIPE_PUBLISHABLE_KEY=pk
STRIPE_SECRET_KEY=sk

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# Celery Redis settings (для Docker)
CELERY_BROKER_URL_DOCKER=
CELERY_RESULT_BACKEND_DOCKER=

# Email settings
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=your_login@yandex.ru
EMAIL_HOST_PASSWORD=your_password
DEFAULT_FROM_EMAIL=your_login@yandex.ru
SERVER_EMAIL=your_login@yandex.ru
